:root {
    --md-width: 14rem;
    --sm-width: 11.5rem;
}


/* tooltip styles */
  .ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
/* /tooltip styles */

select {
    width: auto !important;
}

.table-wrapper {
    overflow-x: auto;
    width: calc(100% - 2rem);
    margin: 1rem 0 0 1rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

th {
    text-align: center;
}

#manager-table td {
    height: 4rem;
}

.background-white {
    background-color: white;
}

.background-success {
    background-color: #9effc5!important;
}

.background-enroll{
    background-color: #fffbca!important;
}

.background-aha{
    background-color: #caeeff!important;
}

.background-error{
    background-color: #ffb0a8!important;
}

.cell-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.td-xs {
    max-width: 5rem;
    min-width: 4rem;
}

.td-sm {
    min-width: var(--sm-width) !important;
    width: var(--sm-width) !important;
}

.td-md {
    min-width: var(--md-width);
}

.input-sm {
    width: 100%;
}

.service-name{
    font-size: 1.1rem;
    font-style: italic;
}

.row-check {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.check-control {
    /*-webkit-transform: scale(1.5);*/
    /*-moz-transform: scale(1.5);*/
    /*-ms-transform: scale(1.5);*/
    /*-o-transform: scale(1.5);*/
    /*transform: scale(1.5);*/
}

#export-controls {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

#loader-wrapper {
    display: none;
    text-align: center;
    margin: 2rem;
}

#export-loader {
    /*max-width: 50px;*/
    height: auto;
}

.sync-form {
    margin-right: 2rem;
}

.export-form {
    margin-left: 2rem;
}

.pagination-nav {
    margin: 1rem;
}

.blurred {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.info-message {
    padding: 1rem;
}

.dialog {
    display: none;
}

.aha-preview {
    cursor: pointer;
}

.select-field-wrapper {
    width: 100%;
}

.select-field {
    width: 100% !important;
}

#payment-block {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.payment-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
}

.pay-text {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.credential_input{
    position: relative;
}

.help-inline{
    margin-left: 1rem;
    position: absolute;
}