{% extends 'base.html' %}
{% load extra_filters %}
{% block content %}
    {% if user.is_authenticated %}
    <div>
        <table class="table table-striped">

            <tr>
                <th>Course</th>
                <th>AHA Course</th>
                <th>Location</th>
                <th>AHA Location</th>
                <th>Instructor</th>
                <th>AHA Instructor</th>
                <th>TC</th>
                <th>TS</th>
                <th>Roster Limit</th>
                <th>Cutoff</th>
                <th>Class Description</th>
                <th>Class Notes</th>
                <th>Export</th>

            </tr>
            {% for ew_group in ew_groups %}
                <tr>
                  <form method="post" action="">
                  {% csrf_token %}
                    <td>{{ ew_group.course }}</td>
                    <td>
                        <select name="course" class="form-control">
                            {% for option in aha_fields.course %}
                                <option
                                        {% if option == ew_group.get_default_course %}
                                            selected
                                        {% endif %}
                                        value="{{ option|get_value }}">
                                    {{ option|get_text }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>

                    <td>{{ ew_group.location }}</td>
                    <td>
                        <select name="location" class="form-control">
                            {% for option in aha_fields.location %}
                                <option
                                        {% if option == ew_group.get_default_location %}
                                            selected
                                        {% endif %}
                                        value="{{ option|get_value }}">
                                    {{ option|get_text }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>

                    <td>{{ ew_group.instructor }}</td>

                    <td>
                        <select name="instructor" class="form-control">
                            {% for option in aha_fields.instructor %}
                                <option
                                        {% if option == ew_group.get_default_instructor %}
                                            selected
                                        {% endif %}
                                        value="{{ option|get_value }}">
                                    {{ option|get_text }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>

                    <td>
                        <select name="training_center" class="form-control">
                            {% for option in aha_fields.tc %}
                                <option value="{{ option|get_value }}">
                                    {{ option|get_text }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>

                    <td><select name="training_site" class="form-control">
                        {% for option in aha_fields.ts %}
                            <option value="{{ option|get_value }}">
                                {{ option|get_text }}
                            </option>
                        {% endfor %}
                    </select></td>

                    <td><input name="roster_limit" value={{ ew_group.max_students }}>
                    </td>

                    <td>
                        <input name="cutoff_date" value={{ ew_group.get_cutoff_date }}>
                    </td>

                    <td>
                        <input name="class_description" type="text" size="50" required>
                    </td>

                    <td>
                        <input name="class_notes" type="text" size="50">
                    </td>
                  <td><input type="hidden" name="group_id" value={{ ew_group.group_id}}>
                      <button type="submit">Export</button>
                  </td>
                  </form>
                </tr>

            {% endfor %}

        </table>
    <form method="post" action={% url 'dashboard:sync' %}>
        {% csrf_token %}
        <button type="submit">SYNC</button>
    </form>
    </div>
    {% endif %}
{% endblock %}

