{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% load extra_filters %}

{% block content %}
  {% if user.is_authenticated %}
    {% csrf_token %}
    <div class="table-wrapper">
      <table id="manager-table" class="table table-striped">
        <tr>
          <th></th>
          <th>Course</th>
          {#          <th>AHA Course</th>#}
          <th>Location</th>
          {#          <th>AHA Location</th>#}
          <th>Instructor</th>
          {#          <th>AHA Instructor</th>#}
          <th>TC, TS</th>
          {#          <th>TS</th>#}
          <th>Roster Limit</th>
          <th>Cutoff</th>
          <th>Description/<br>Student Notes</th>
          {#          <th>Class Description</th>#}
          {#          <th>Class Notes</th>#}
        </tr>

        {% for ew_group in ew_groups %}

          <tr id="row-group-{{ ew_group.id }}"
              class="{% if not ew_group.available_to_export %}blurred{% endif %}">
            <td>
              {% if ew_group.available_to_export %}
                <div class="form-check">
                  <input id="check-{{ ew_group.id }}"
                         class="group-check check-control"
                         type="checkbox" onclick="checkExportAvailable()">
                </div>
              {% endif %}

            </td>

            <td class="td-md">
              <div class="cell-div">
                <!-- enroll course -->
                <div
                        {% if ew_group.status == ew_group.STATUS_CHOICES.ERROR %}
                          class="text-danger" {% endif %}>{{ ew_group.course }}</div>
                <!-- /enroll course -->
                <!-- aha course -->
                <div>
                  <select
                          {% if not ew_group.available_to_export %}
                            disabled
                          {% endif %}
                            id="aha-course-{{ ew_group.id }}" name="course"
                            class="form-control">
                    {% for option in aha_fields.course %}
                      <option
                              {% if option == ew_group.get_default_course %}
                                selected
                              {% endif %}
                                value="{{ option|get_value }}">
                        {{ option|get_text }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- /aha course -->
            </td>
            <!-- /enroll course -->

            <td class="td-md">
              <div class="cell-div">
                <!-- enroll location -->
                <div>{{ ew_group.location }}</div>
                <!-- /enroll location -->
                <!-- aha location -->
                <div>
                  <select
                          {% if not ew_group.available_to_export %}
                            disabled
                          {% endif %}
                            id="aha-location-{{ ew_group.id }}" name="location"
                            class="form-control">
                    {% for option in aha_fields.location %}
                      <option
                              {% if option == ew_group.get_default_location %}
                                selected
                              {% endif %}
                                value="{{ option|get_value }}">
                        {{ option|get_text }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- /aha location -->
            </td>

            <td class="td-md">
              <div class="cell-div">
                <!-- enroll instructor -->
                <div>{{ ew_group.instructor }}</div>
                <!-- /enroll instructor -->
                <!-- aha instructor -->
                <div><select
                        {% if not ew_group.available_to_export %}
                          disabled
                        {% endif %}
                          id="aha-instructor-{{ ew_group.id }}"
                          name="instructor"
                          class="form-control">
                  {% for option in aha_fields.instructor %}
                    <option
                            {% if option == ew_group.get_default_instructor %}
                              selected
                            {% endif %}
                              value="{{ option|get_value }}">
                      {{ option|get_text }}
                    </option>
                  {% endfor %}
                </select>
                </div>
              </div>
              <!-- /aha instructor -->
            </td>

            <td class="td-md">
              <div class="cell-div">
                <!-- TC -->
                <div>
                  <select
                          {% if not ew_group.available_to_export %}
                            disabled
                          {% endif %}
                            id="aha-tc-{{ ew_group.id }}"
                            name="training_center"
                            class="form-control">
                    {% for option in aha_fields.tc %}
                      <option value="{{ option|get_value }}">
                        {{ option|get_text }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <!-- /TC -->
                <!-- TS -->
                <div>
                  <select
                          {% if not ew_group.available_to_export %}
                            disabled
                          {% endif %}
                            id="aha-ts-{{ ew_group.id }}" name="training_site"
                            class="form-control">
                    {% for option in aha_fields.ts %}
                      <option value="{{ option|get_value }}">
                        {{ option|get_text }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <!-- /TS -->
              </div>
            </td>
            <td class="td-xs">
              <div class="cell-div">
                <input
                        {% if not ew_group.available_to_export %}
                          disabled
                        {% endif %}
                          id="aha-roster-limit-{{ ew_group.id }}"
                          class="input-sm form-control" name="roster_limit"
                          value={{ ew_group.max_students }}>
              </div>
            </td>

            <td class="td-sm">
              <div class="cell-div">
                <input
                        {% if not ew_group.available_to_export %}
                          disabled
                        {% endif %}
                          id="aha-cutoff-date-{{ ew_group.id }}"
                          class="input-sm form-control" name="cutoff_date"
                          value={{ ew_group.get_cutoff_date }}>
              </div>
            </td>

            <td class="td-sm">
              <div class="cell-div">
                <input

                        {% if not ew_group.available_to_export %}
                          disabled
                        {% endif %}id="aha-class-description-{{ ew_group.id }}"
                          class="form-control"
                          name="class_description" type="text"
                          size="50" required>
              </div>
            </td>

            {#            <td class="td-sm">#}
            {#              <input#}
            {##}
            {#                      {% if not ew_group.available_to_export %}#}
            {#                        disabled#}
            {#                      {% endif %}id="aha-class-notes-{{ ew_group.id }}"#}
            {#                        class="form-control" name="class_notes" type="text"#}
            {#                        size="50">#}
            {#            </td>#}

          </tr>

        {% endfor %}
      </table>
    </div>

    <!-- PAGINATION -->
    <nav class="pagination-nav">
      <ul class="pagination justify-content-center">
        {% if page_obj.number !=  1 %}
          <li class="page-item">
            <a class="page-link" href="?page=1">
              <span aria-hidden="true"><<</span>
              <span class="sr-only">First</span>
            </a>
          </li>

          &nbsp;
          <li class="page-item">
            {% if page_obj.has_previous %}
              <a class="page-link"
                 href="?page={{ page_obj.previous_page_number }}">
            {% else %}
              <a class="page-link" href="#">
            {% endif %}
            <span aria-hidden="true"><</span>
            <span class="sr-only">Previous</span>
            </a>
          </li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active"><a class="page-link"
                                            href="#">{{ i }}</a></li>
          {% endif %}
          {% with next=page_obj.number|add:"2" prev=page_obj.number|add:"-2" %}
            {% if i < page_obj.number and i >= prev  or i > page_obj.number and i <= next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
              </li>
            {% endif %}
          {% endwith %}
        {% endfor %}

        {% if page_obj.number !=  paginator.num_pages %}
          <li class="page-item">
            {% if page_obj.has_next %}
              <a class="page-link"
                 href="?page={{ page_obj.next_page_number }}">
            {% else %}
              <a class="page-link" href="#">
            {% endif %}
            <span aria-hidden="true">></span>
            <span class="sr-only">Next</span>
            </a>
          </li>
          &nbsp;
          <li class="page-item">
            <a class="page-link" href="?page={{ paginator.num_pages }}">
              <span aria-hidden="true">>></span>
              <span class="sr-only">Last</span>
            </a>
          </li>

        {% endif %}
      </ul>
    </nav>
    <!-- /PAGINATION -->
    <div id="controls-panel">

      <div id="loader-wrapper">
        {#        <span>Process in progress... </span>#}
        <img src="{% static "img/loader.gif" %}"
             id="export-loader" class="loader">
      </div>

      <div id="export-controls">
        <div class="import-form">
          <button class="btn btn-primary" id="sync-button"
                  onclick="sync()">Sync
          </button>
        </div>

        <div class="export-form">
          <button disabled class="btn btn-primary" id="export-button"
                  onclick="exportGroups()">Export to AHA
          </button>
        </div>
      </div>
    </div>

  {% endif %}
{% endblock %}



