{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block info_message %}
    <div class="info-message">
         <h3>Let’s see what’s under the hood</h3>
        <div>ClassBlast needs your login for both sites in order to do it’s magic. Don’t worry, your logins are not exposed, and honestly, you’re not that interesting.</div>
    </div>

{% endblock %}

{% block content %}
  <div class="container text-center">
    <h3 class="panel-title">Class Blast</h3>


    <div class="row">
      <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <!-- ENROLLWARE FORM -->
        <form id="enroll-form" class="
                {% if success_auth %}
                blurred
                {% endif %}"
              method="post">
          {% csrf_token %}
          <fieldset>
            <legend>Enrollware account</legend>
            {% if enrollware_error_message %}
              {{ enrollware_error_message }}
            {% endif %}
            {% if form.errors %}
              <span>Error. Please try again.</span>
              <hr>
            {% endif %}

            {% for field in enroll_form %}
              {% if field.errors %}
                <div class="control-group error">
                  <label class="control-label">{{ field.label }}</label>
                  <div class="controls">{{ field }}
                    <span class="help-inline">
                            {% for error in  field.errors %}
                              {{ error }}{% endfor %}
                        </span>
                  </div>
                </div>
              {% else %}
                <div class="control-group">
                  <label class="control-label">{{ field.label }}</label>
                  <div class="controls">{{ field }}
                    {% if field.help_text %}
                      <p class="help-inline">
                        <small>{{ field.help_text }}</small>
                      </p>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </fieldset>
          <div class="form-actions">
            <input type="submit"
                    {% if success_auth %}
                      disabled
                    {% endif %}
                   id="enroll-login" class="btn
            btn-primary" value="Login"/>
          </div>
          <input type="hidden" name="service_type" value="enroll">
        </form>
        <!-- /ENROLLWARE FORM -->
      </div>

      <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <!-- AHA FORM -->
        <form id="aha-form" class="
                {% if not success_auth %}
                blurred
                {% endif %}"
              method="post">
          {% csrf_token %}
          <fieldset>
            <legend>AHA account</legend>

            {% if aha_error_message %}
              {{ aha_error_message }}
            {% endif %}

            {% if form.errors %}
              <span>Error. Please try again.</span>
              <hr>
            {% endif %}

            {% for field in aha_form %}

              {% if field.errors %}
                <div class="control-group error">
                  <label class="control-label">{{ field.label }}</label>
                  <div class="controls">{{ field }}
                    <span class="help-inline">
                                    {% for error in  field.errors %}
                                      {{ error }}{% endfor %}
                                </span>
                  </div>
                </div>
              {% else %}
                <div class="control-group">
                  <label class="control-label">{{ field.label }}</label>
                  <div class="controls">{{ field }}
                    {% if field.help_text %}
                      <p class="help-inline">
                        <small>{{ field.help_text }}</small>
                      </p>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}

          </fieldset>

          <div class="form-actions">
            <button id="aha-login"
                    {% if not success_auth %}
                      disabled
                    {% endif %}
                      type="submit"
                      class="btn btn-primary">Login
            </button>
          </div>
          <input type="hidden" name="service_type" value="aha">

        </form>
        <!-- /AHA FORM -->
      </div>

      <div>
        <!-- SKIP FORM -->
          <form>
            {% if not success_auth %}
                blurred
            {% endif %}
          </form>
        <!-- /SKIP FORM -->
      </div>

    </div>
    <div id="loader-wrapper">
      {#        <span>Process in progress... </span>#}
      <img src="{% static "img/loader.gif" %}"
           id="services-loader" class="loader">
    </div>


  </div>

{% endblock %}

