{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="{% static 'libs/bootstrap-4.0.0-dist/css/bootstrap.min.css' %}"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'libs/jquery-ui-1.12.1/jquery-ui.css' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}
    {% endblock %}

    <title>{% block title %}ClassBlast{% endblock %}</title>
</head>
<body>
{% block header %}
    <header id="header">
        {% if request.user.is_authenticated %}
            <form class="form-group" method="post" action="{% url 'auth:logout' %}">
                {% csrf_token %}
                <button class="btn btn-default" type="submit">Logout</button>
            </form>
        {% endif %}
    </header>
{% endblock %}

{% block info_message %}
{% endblock %}

{% block content %}
{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<!-- jQuery  -->
<script src="{% static 'libs/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'libs/popper-1.14.1/popper.min.js' %}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{% static 'libs/bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="{% static 'libs/jquery-ui-1.12.1/jquery-ui.js' %}"></script>

{% block extra_js %}
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
</body>
</html>